In [1]:
import SQL_connect as sqlc
import pandas as pd
import numpy as np
import time

ModuleNotFoundError: No module named 'SQL_connect'

In [2]:
username = 'root'
password = 'bgzwosdfz0617..'
host = 'localhost:3306'
dbname = 'nctta_rating'

DBC = sqlc.DatabaseConnect(username, password, host, dbname)

In [28]:
result = DBC.read('SELECT * FROM nctta_rating.players_cradded where Wr is not null and Lr is not null')

In [29]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58157 entries, 0 to 58156
Data columns (total 8 columns):
Lr           58157 non-null int64
Lpoints      58157 non-null int64
Wpoints      58157 non-null int64
Meet         58157 non-null object
Date         58157 non-null object
Winner_id    58157 non-null int64
Loser_id     58157 non-null int64
Wr           58157 non-null int64
dtypes: int64(6), object(2)
memory usage: 3.5+ MB