In [16]:
from crawler import Craweling
import pandas as pd
from bs4 import BeautifulSoup
import re
import numpy as np

In [30]:
url = 'http://danserver.com/nctta/IndivMatches.asp?id='

In [34]:
c = Craweling(url,100)

In [35]:
c.getpageitem(1416)

,Date,Loser_id,Meet,Winner_id,l1,l2,l3,l4,l5,w1,w2,w3,w4,w5,wl
0,2004-10-30,220,Florida Division,1416,11,11,11,9,0,13,3,3,11,0,4
2,2004-10-30,1416,Florida Division,669,8,2,3,0,0,11,11,11,0,0,3
4,2004-10-30,1530,Florida Division,1416,7,4,5,0,0,11,11,11,0,0,3
6,2004-10-30,1541,Florida Division,1416,3,4,2,0,0,11,11,11,0,0,3
8,2004-02-07,1416,Florida Division Meet,220,9,15,13,11,5,11,11,11,8,11,5
10,2004-02-07,1017,Florida Division Meet,1416,4,9,11,4,0,11,9,9,11,0,4
12,2004-02-07,1416,Florida Division Meet,222,4,8,8,0,0,11,11,11,0,0,3

In [27]:
temp = c.getpage(1416)
# apply BeautifulSoup to generate a structured dataframe
soup = BeautifulSoup(temp.text, "lxml")

# athlete
if not soup.find(name='h1'):
    pass
athlete = soup.h1.string[11:]

# score
score_ = soup.find_all(text=re.compile(r'(-.+?,.+?-.+?)|(by default)'))
w1, w2, w3, w4, w5 = [], [], [], [], []
l1, l2, l3, l4, l5 = [], [], [], [], []
wlset = []
# split score to win/lose
for score in score_:
    if not re.search(r'by default', score):
        temp = score.strip().split(',')
        w = [0] * 5
        l = [0] * 5
        count = 0
        for smallscore in temp:
            splitscore = smallscore.strip().split('-')
            w[count] = int(splitscore[0])
            l[count] = int(splitscore[1])
            count += 1
        wl = count
        w1.append(w[0]), w2.append(w[1]), w3.append(w[2]), w4.append(w[3]), w5.append(w[4])
        l1.append(l[0]), l2.append(l[1]), l3.append(l[2]), l4.append(l[3]), l5.append(l[4])
        wlset.append(wl)
    else:
        w1.append(0), w2.append(0), w3.append(0), w4.append(0), w5.append(0)
        l1.append(0), l2.append(0), l3.append(0), l4.append(0), l5.append(0)
        wlset.append(-1)
d_score_error = ~(np.array(wlset) == -1)  # delete score error

In [29]:
w4

[11, 0, 0, 0, 0, 11, 0, 11, 8, 9, 11, 11, 0]